body{
    display: flex;
    justify-content: center;
    height: 95vh;
    align-items: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    background-image: url("../images/login_backimage_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    
}
.login{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(18px);
    border-radius: 14px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
    /* padding: 30px; */
}
h1{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-button{
    text-align: center;
}
label{
    display: none;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.login-box{
    height: 100%;
}
a{
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: white;
}
.login input{
    outline: none;
   
}